*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px 20px;
}
nav {
    background-color: #2787cc;
    display: flex;
    color: #fff;
    border-radius: 20px;
    margin: 0px 20px;
}

nav ul{
    display: flex;
    list-style: none;

}
nav ul li{
    font-family: sans-serif;
    margin: 20px;
    font-size: 15px;  
}
a :hover{
    background-color: rgb(226, 31, 152);
}

.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    justify-content:center;
    flex: 5;
    margin: 0px 20px;
    border-radius: 20px;
}
.box{
    background-color: rgb(19, 9, 161);
    width: 15%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 10px 18px rgb(15, 12, 186);
    
}